:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
}
body {
	font-family: roboto, sans-serif;
}
.list {
	list-style: none;
}
/* Logo */
.logo {
	color: black;

	font-family: raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.logo-icon {
	color: var(--accent-color);
}
.logo-footer {
	color: #ffffff;

	font-family: raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}
/* site-nav */
.site-nav .link {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
/* site-contacts */
.site-contacts .link {
	color: var(--primary-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.site-contacts .link:hover,
.site-contacts .link:focus {
	color: var(--accent-color);
}
/* hero */
.hero {
	background-color: #2f303a;
}
.hero-title {
	color: #ffffff;

	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
/* button */
.button {
	background-color: #f5f4fa;
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	
	letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}
.button.primary {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
}

/* загаловки и текст секций */
.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
}
.section-text {
	color: var(--primary-text-color);

	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.feature {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
/* Team */
.team{
	background: #F5F4FA;
}
.team .team-title {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.team .team-text {
	color: var(--primary-text-color);

	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
/* portfolio */
.portfolio-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text {
	color: var(--primary-text-color);

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.03em;
}
.portfolio-link{
	text-decoration: none;
}
/* footer */
.footer {
	background-color: #2f303a;
}
.footer-text {
	color: #ffffff;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer-link {
	color: rgba(255, 255, 255, 0.6);

	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.footer-link:hover,
.footer-limk:focus {
	color: var(--accent-color);
}
